<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/> 
</head>
<body>
    <h1>Hi, welcome to Django Level Two!</h1>
    <h2>Go to <a href="/user">user page</a> to see all users</h2>
    <h2>Go to <a href="/signUp">signup</a> page to add new user</h2>
    <h2>Here are your access records:</h2>
    <div class="djangtwo">
      {% if acces_records %}
          <table>
            <thead>
              <th>Site Name</th>
              <th>Date Accessed</th>
            </thead>

            {% for acc in acces_records %}
              <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No Access Records. Table Not Created.</p>
      {% endif %}
    </div>
</body>
</html>